.user {
  background-color: aqua;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas-body a {
  text-decoration: none;
  color: #2b2d31;

  &:hover {
    color: red;
  }
}

#navbarText {
  flex-grow: 0;
}

.no_opacity {
  opacity: 0;
}

.nav-item a {
  text-decoration: none;
  color: rgb(83, 83, 255);
  font-size: 20px;
}

.nav-item a:hover {
  color: rgb(25, 207, 86);
}