@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 150px;
    object-fit: cover;
}

a {
    margin: 10px;
}

.logo_pdf {
    width: 40px;
}

.logo_header img {
    max-width: 100px;
}
